.b-route__title span {
    vertical-align: middle;
}

.b-route__parts {
    display: table;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0 0 20px 0;
}

.b-route__part {
    display: table-cell;
    position: relative;
    height: 59px;
}

.b-route__part:after {
    content: "";
    position: absolute;
    top: 28px;
    display: block;
    width: 100%;
    height: 3px;
    background: #d9d9d9;
    border-radius: 3px;
}

.b-route__part__name {
    position: absolute;
    top: -1px;
    bottom: auto;
    left: 28px;
    font-size: 11px;
    color: #737373;
}

.b-route__part:nth-child(even) .b-route__part__name,
.b-route__part:nth-child(odd) .b-route__part__name_type_last {
    top: auto;
    bottom: -1px;
}

.b-route__part:nth-child(even) .b-route__part__name_type_last {
    top: -1px;
    bottom: auto;
}

.b-route__part__name:after {
    content: "";
    display: block;
    width: 17px;
    height: 38px;
    position: absolute;
    top: -2px;
    left: -20px;
    background: url("/img/pointers.png?1") 0 0 no-repeat;
    z-index: 1;
}

.b-route__part:nth-child(even) .b-route__part__name:after,
.b-route__part:nth-child(odd) .b-route__part__name_type_last:after {
    top: auto;
    bottom: -2px;
    background-position: 0 -39px;
}

.b-route__part:nth-child(even) .b-route__part__name_type_last:after {
    top: -2px;
    bottom: auto;
    background-position: 0 0;
}

.b-route__part__name_type_last {
    left: auto;
    right: 28px;
}

.b-route__part__name_type_last:after {
    left: auto;
    right: -20px;
}