<ul class="b-ext-auth__services" ng-controller="ExtAuthFormCtrl">
    <li class="b-ext-auth__service">
        <button title="Facebook" type="button" class="b-icon b-icon__auth b-icon__auth__facebook" ng-click="fbAuth()">Facebook</button>
    </li>
    <li class="b-ext-auth__service">
        <button title="ВКонтакте" type="button" class="b-icon b-icon__auth b-icon__auth__vk" ng-click="vkAuth()">ВКонтакте</button>
    </li>
    <li class="b-ext-auth__service">
        <button title="Google +" type="button" class="b-icon b-icon__auth b-icon__auth__google" ng-click="googleAuth()">Google +</button>
    </li>
    <li class="b-ext-auth__service">
        <button title="Foursquare" type="button" class="b-icon b-icon__auth b-icon__auth__foursquare" ng-click="foursquareAuth()">Foursquare</button>
    </li>
</ul>