<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="mongo" connectionString="mongodb://localhost/howtoget" />
	</connectionStrings>
	<appSettings>
		<add key="currency-rates-url" value="http://finance.yahoo.com/webservice/v1/symbols/allcurrencies/quote"/>
		<add key="ignored-currency-codes" value="xdr,iep,svc,cnh,clf"/>
	</appSettings>
</configuration>