.header {
    .logo {
        display: block;
        width: 262px;
        height: 54px;
        margin: 120px auto 10px auto;
        background: url("/img/logo.png") 0 0 no-repeat;
        hide-text();
    }
}