<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	
	<variable name="logDirectory" value="${basedir}/logs"/>
    <targets>
		<target name="asyncFileOk" xsi:type="AsyncWrapper">
			<target name="logfile" xsi:type="File" fileName="${logDirectory}/${shortdate}.log" encoding="utf-8" layout="${longdate}: ${message}${newline} ${exception:format=tostring}" />
		</target>
		<target xsi:type="Console" name="console" layout="${message}${newline}" />
	</targets>
 
    <rules>
        <logger name="*" minlevel="Info" writeTo="console" />
        <logger name="*" minlevel="Info" writeTo="asyncFileOk" />
    </rules>
</nlog>