#add-route {
    width: 980px;
    margin: 0 auto;

    #route {
        margin: 0;
        padding: 0;

        .route-part {
            padding: 0;
            margin: 0;
            list-style: none;

            .field-wrapper {
                width: 30%;
                display: inline-block;
                margin: 0 1% 1% 0;
            }

            .description-wrapper {
                width: 100%;
                textarea {
                    width: 63%;
                    height: 50px;
                    box-sizing(border-box);
                    vertical-align: middle;
                }
            }
        }
    }

    .route-description-wrapper {
        margin-bottom: 1%;

        textarea {
            width: 63%;
            height: 50px;
            box-sizing(border-box);
            vertical-align: middle;
        }
    }

    .delete-part-wrapper {
        margin-bottom: 1%;
    }
}