doctype 5
html(lang="en")
    head
        title How2Get &mdash; A brand new way to find the route for your trip. From people to people
        link(rel='stylesheet', href='/styles/main.css')
    body
        div.app
            include templates/header.html
            div.content
            div.spinner
            include templates/top-routes.html
            include templates/top-users.html
            include templates/share.html
            include templates/footer.html

        include templates/notification.html
        include templates/email-required.html
        include templates/search.html
        include templates/map.html
        include templates/route.html
        include templates/add-route.html
        include templates/search-result.html
        include templates/profile.html
        include templates/edit-route.html
        include templates/currency.html
        include templates/forgot-password.html
        include templates/reset-password.html


        script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
        script(type="text/javascript", src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAffvKNYy_ZUwqcJtl0Ji4QfzaJCTbV968&sensor=false')
        script(type='text/javascript', src='js/all.js')

        include templates/external-scripts.html