<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<connectionStrings xdt:Transform="Replace">
		<add name="mongo" connectionString="mongodb://ec2-50-17-68-5.compute-1.amazonaws.com/howtoget" />
    </connectionStrings>
	
	<appSettings>
		<add key="EmailNotificationsPath" value="c:\www\stage\Notifications" xdt:Transform="Replace"/>
	</appSettings>
	
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>