.search-form {
    width: 980px;
    margin: 0 auto;
    text-align: center;

    .fields {
        margin-bottom: 30px;

        .field {
            display: inline-block;
            width: 280px;
        }

        .pointer {
            margin: 0 10px;
        }
    }

    .actions {
        .button {
            display: block;
            margin: 0 auto 15px auto;
            width: 200px;
        }
    }
}